<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [formGroup]="form">
    <div class="card_outer">
    <ion-card class="bg_white card_style card_shadow">
      <ion-card-header>
        <ion-card-subtitle>{{ userData?.area }}, {{ userData?.region }} - {{ userData?.state }},{{ userData?.country }}
        </ion-card-subtitle>
        <ion-card-title>{{ userData?.firstName }} {{ userData?.lastName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-text>Email : {{ userData?.mobileNumber }}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>Mob : {{ userData?.email }}</ion-text>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-row class="ion-margin-top">
    <ion-col>
      <div class="product_header">
        <span>Products</span>
        <ion-button size="small" color="primary" (click)="presentModal()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-list class="mt-20 no-lines app_list_style" formArrayName="items">
    <ng-container *ngFor="let item of items['controls']; let i=index;" [formGroupName]="i">
      <ion-item-sliding>
        <ion-item (ionSwipe)="removeProduct(i)" class="ion-no-padding">
          <ion-label>
            <h3>{{ item.get('product_name').value }}</h3>
            <p>
              <ion-text color="primary">
                <ion-row class="ion-justify-content-between">
                  <ion-text solt="start">
                    Price : {{ item.get('productPrice').value }}
                  </ion-text>
                  <ion-text solt="end">
                    Quantity : {{ item.get('quantity').value }}
                  </ion-text>
                </ion-row>
              </ion-text>
            </p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end" class="ion-no-padding">
          <ion-button size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>


    <ion-item class="ion-no-padding" *ngIf="items['controls'].length <= 0">
      No Items added
    </ion-item>
  </ion-list>

  
  <ion-item class="ion-margin-top" *ngIf="items.controls.length > 0 && items.valid">
    <ion-label position="floating">Comments</ion-label>
    <ion-textarea formControlName="comments"></ion-textarea>
  </ion-item>
  
</ion-content>

<ion-footer  *ngIf="items.controls.length > 0 && items.valid">
  <ion-toolbar color="light">
    <ion-title>Total : {{ totalOrderPrice }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="makeOrder()">
        Confirm Order
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>